/* pengaturan body*/
body {
	background-color 	: white;
	text-align			: center;
	font-family			: Verdana, Tahoma, Helvetica;
	font-size			: 12px;
	background-image    : url(../images/aih.jpg);
}



/*pengaturan runingtext*/
#runningtext{
	width 				: 100%;
	height				: 25px;
	padding-top  		: 7px;
	margin				: 5px 0 5px 0;
	background-color 	: white;
	color				: black;
	position			: relative;

}



#borderr{
	padding 			: 5px;
	width				: 100%;
	background-color	: white;
	position 			: relative;
	float				: left;
	/*memberikan garis putus-putus*/
	border-style		: outset;
	border-width		: 5px;
	border-color        : white;

}	